/* Font families */
/* Main colors */
/* Section colors */
body {
  margin: 0; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

/* Font families */
/* Main colors */
/* Section colors */
* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #fff;
  background-image: url(./../img/svgs/header-animation.svg);
  background-repeat: no-repeat;
  background-position: -190px -140px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #212121; }

h1 {
  font-size: 36px;
  font-weight: bold; }

a {
  color: #fb5895; }

img {
  max-width: 100%; }

p {
  letter-spacing: 0.5px;
  line-height: 30px;
  font-weight: 300; }

/* ==========================================================================
[General classes]
========================================================================== */
.band {
  position: relative;
  width: 100%; }

.container {
  width: 100%;
  height: 100%;
  margin: auto; }

.container {
  padding: 30px; }
  .container .row {
    padding: 5px;
    margin: 5px 0; }
    .container .row > * {
      padding: 5px;
      margin: 5px 0; }

.grid {
  width: 100%;
  display: grid;
  grid-gap: 10px; }

.grid.grid-content {
  grid-template-columns: auto; }

.grid.grid-header {
  grid-template-columns: auto; }

.grid.grid-footer {
  grid-template-columns: auto; }

.flex {
  display: flex; }

.flex.columns-2 {
  justify-content: space-between;
  flex-wrap: wrap; }
  .flex.columns-2 > * {
    flex-basis: 100%; }

.flex.columns-4 {
  justify-content: space-between;
  flex-wrap: wrap; }
  .flex.columns-4 > * {
    flex-basis: 100%; }

.flex.columns-2-3 {
  justify-content: space-between;
  flex-wrap: wrap; }
  .flex.columns-2-3 > * {
    flex-basis: 100%; }

.flex.columns-3-2 {
  justify-content: space-between;
  flex-wrap: wrap; }
  .flex.columns-3-2 > * {
    flex-basis: 100%; }

.tl {
  text-align: left; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.cb {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.m-5 {
  margin: 5px; }

.mt-5 {
  margin-top: 5px; }

.mr-5 {
  margin-right: 5px; }

.mb-5 {
  margin-bottom: 5px; }

.ml-5 {
  margin-left: 5px; }

.m-10 {
  margin: 10px; }

.mt-10 {
  margin-top: 10px; }

.mr-10 {
  margin-right: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.ml-10 {
  margin-left: 10px; }

.m-15 {
  margin: 15px; }

.mt-15 {
  margin-top: 15px; }

.mr-15 {
  margin-right: 15px; }

.mb-15 {
  margin-bottom: 15px; }

.ml-15 {
  margin-left: 15px; }

.p-5 {
  padding: 5px; }

.pt-5 {
  padding-top: 5px; }

.pr-5 {
  padding-right: 5px; }

.pb-5 {
  padding-bottom: 5px; }

.pl-5 {
  padding-left: 5px; }

.p-10 {
  padding: 10px; }

.pt-10 {
  padding-top: 10px; }

.pr-10 {
  padding-right: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.pl-10 {
  padding-left: 10px; }

.p-15 {
  padding: 15px; }

.pt-15 {
  padding-top: 15px; }

.pr-15 {
  padding-right: 15px; }

.pb-15 {
  padding-bottom: 15px; }

.pl-15 {
  padding-left: 15px; }

.menu-container ul {
  margin: 0;
  padding: 0; }
  .menu-container ul li {
    list-style: none;
    display: inline; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="text"],
textarea {
  padding: 10px;
  margin: 5px 5px 5px 0;
  border: none;
  border-radius: 3px;
  border: #bcd0e5 solid 1px;
  font-size: 16px;
  color: #bcd0e5; }

[type="submit"], [type="button"], button, .button {
  display: inline-block;
  padding: 15px 40px;
  margin: 5px 5px 5px 0;
  background-color: #fb5895;
  color: white;
  border-radius: 50px;
  border: none;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  font-weight: bold; }
  [type="submit"].secondary, [type="button"].secondary, button.secondary, .button.secondary {
    color: white;
    background-color: #87e6ff; }
  [type="submit"].circle, [type="button"].circle, button.circle, .button.circle {
    padding: 15px 15px; }

/* ==========================================================================
[Header]
========================================================================== */
.band-header .container .row.tr {
  display: flex;
  justify-content: end; }

.band-header .container .menu-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .band-header .container .menu-container ul {
    display: none; }
    .band-header .container .menu-container ul li a {
      text-decoration: none;
      color: #212121;
      font-size: 13px;
      padding: 10px 15px;
      display: block; }
    .band-header .container .menu-container ul li.active a {
      color: #87e6ff;
      font-weight: bold; }
  .band-header .container .menu-container .hamburger-btn {
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 5px;
    border: #bcd0e5 solid 1px;
    position: relative;
    z-index: 3;
    cursor: pointer; }

.band-header .container .search-button {
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  z-index: 3;
  padding: 8px;
  top: 0;
  left: -10px; }

.band-header .container .search-input {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  border-radius: 50px;
  top: -11px; }

.band-header .container .header-left .hl-more-details {
  text-align: center;
  margin-top: 50px;
  position: relative;
  z-index: 0;
  color: #fb5895;
  font-weight: 300; }
  .band-header .container .header-left .hl-more-details .button {
    margin-left: 20px; }

.band-header .container .header-right {
  text-align: center; }
  .band-header .container .header-right p {
    width: 100%;
    margin: auto; }

.search-form {
  position: absolute;
  box-shadow: 0 0 26px -23px black;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  display: inline-block;
  text-align: left;
  margin: auto;
  z-index: 2;
  text-align: center;
  display: none;
  padding: 38px 0;
  width: 70%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .search-form form {
    position: relative;
    width: 100%;
    display: block;
    margin: auto; }
    .search-form form input[type="search"] {
      border-radius: 50px;
      width: 90%;
      box-sizing: border-box;
      padding: 13px 20px; }
    .search-form form button {
      padding: 10px 12px;
      position: absolute;
      right: 18px;
      z-index: 3;
      top: 5px; }

.hamburger-menu {
  position: absolute;
  box-shadow: 0 0 26px -23px black;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  width: 100%;
  display: inline-block;
  display: none;
  text-align: left;
  margin: auto;
  z-index: 2;
  text-align: center;
  padding: 0 0;
  width: 70%;
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .hamburger-menu ul {
    margin: 0;
    padding: 0; }
    .hamburger-menu ul li {
      list-style: none; }
      .hamburger-menu ul li a {
        display: block;
        position: relative;
        text-decoration: none;
        font-weight: bold;
        line-height: 50px;
        font-size: 20px;
        border-bottom: #fff1f7 solid 1px; }
      .hamburger-menu ul li:last-child a {
        border: none; }

/* ==========================================================================
[Features]
========================================================================== */
.band-features .row {
  margin-bottom: 50px; }
  .band-features .row.bielefeld {
    text-align: center; }
    .band-features .row.bielefeld p {
      margin: 50px auto;
      width: 65%; }
  .band-features .row h3 span {
    background-color: #87e6ff;
    padding: 0px 5px;
    border-radius: 50%;
    color: white;
    margin-right: 10px; }
  .band-features .row.columns-3-2 .feature-right {
    text-align: right; }

/* ==========================================================================
[Call To Action]
========================================================================== */
.band-cta {
  position: relative;
  min-height: 771px;
  background-image: url(./../img/cta-svg.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: white; }
  .band-cta .row {
    padding: 200px 0; }
    .band-cta .row h1, .band-cta .row h2 {
      color: white; }
    .band-cta .row p {
      margin: 30px auto;
      width: 50%; }
    .band-cta .row .choose-your-option {
      display: block;
      justify-content: center;
      align-items: baseline; }
      .band-cta .row .choose-your-option .button {
        margin-left: 10px; }

/* ==========================================================================
[Our Work]
========================================================================== */
.band-work .row h1 {
  margin-bottom: 30px; }

.band-work .row p {
  width: 60%;
  margin: 30px auto; }

.band-work #work-cats {
  margin: 15px 0; }
  .band-work #work-cats span {
    display: inline-block;
    transition: all 1s;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px 20px; }
    .band-work #work-cats span.active {
      background: #fb5895;
      color: white;
      padding-right: 5px; }

.band-work .works {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  transition: all 1s; }
  .band-work .works > * {
    transition: all 1s;
    padding: 10px;
    flex: 50% 0 1; }
    .band-work .works > *.hidden {
      transform-origin: 0 0;
      position: absolute;
      transform: scale(0); }

/* ==========================================================================
[Review]
========================================================================== */
.band-review .row h1 {
  text-align: center;
  margin-top: 50px; }

.band-review .row p {
  width: 60%;
  margin: 20px auto;
  text-align: center; }

/* ==========================================================================
[Testimonials]
========================================================================== */
.band-testimonials {
  background-repeat: no-repeat; }
  .band-testimonials .row .rsi-left {
    margin-bottom: 100px;
    position: relative; }
    .band-testimonials .row .rsi-left .rs-info {
      position: static;
      text-align: center;
      width: 100%; }
      .band-testimonials .row .rsi-left .rs-info h2 {
        font-weight: bold; }
    .band-testimonials .row .rsi-left img {
      position: absolute; }
  .band-testimonials .row .rsi-right {
    position: relative;
    position: relative;
    background-image: url(../img/svgs/quote.svg);
    background-repeat: no-repeat;
    background-position: top right; }
    .band-testimonials .row .rsi-right .rs-info {
      position: static;
      text-align: center;
      width: 100%; }
      .band-testimonials .row .rsi-right .rs-info b {
        display: block;
        text-align: right;
        position: static; }

/* ==========================================================================
[Contact]
========================================================================== */
.band-contact {
  text-align: center; }
  .band-contact .row .bc-form {
    width: 70%;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px auto 100px;
    grid-template-columns: 50px auto 50px;
    width: 100%; }
    .band-contact .row .bc-form form {
      margin: 50px auto;
      margin-top: 0; }
      .band-contact .row .bc-form form input, .band-contact .row .bc-form form textarea, .band-contact .row .bc-form form button {
        display: block;
        width: 100%;
        margin-bottom: 15px; }
      .band-contact .row .bc-form form input[type="submit"] {
        display: inline;
        width: initial; }
    .band-contact .row .bc-form .bcf-left, .band-contact .row .bc-form .bcf-right {
      display: flex;
      align-items: center;
      writing-mode: vertical-rl;
      text-orientation: mixed; }
    .band-contact .row .bc-form .bcf-left button {
      padding: 45px 10px;
      margin: 40px 0; }
    .band-contact .row .bc-form .bcf-right {
      padding-top: 50px; }
      .band-contact .row .bc-form .bcf-right a {
        background: #fb5895;
        color: white;
        margin: 10px 0;
        padding: 10px;
        padding: 10px 8px;
        border-radius: 7px; }

/* ==========================================================================
[Footer]
========================================================================== */
.footer-animations {
  background: #fb5895;
  text-align: center;
  color: white;
  position: relative;
  width: 100%; }
  .footer-animations .layer {
    display: none;
    width: 100%; }
  .footer-animations .layer-1 {
    justify-content: space-between; }
    .footer-animations .layer-1 img:first-child {
      position: relative;
      left: 250px;
      top: -50px; }
    .footer-animations .layer-1 img:nth-child(2) {
      position: relative;
      right: -120px; }
  .footer-animations .layer-2 {
    position: absolute;
    top: 0;
    justify-content: space-between;
    height: 100%;
    align-items: end; }
    .footer-animations .layer-2 img {
      left: -230px;
      position: relative;
      top: 100px; }
  .footer-animations .band-footer {
    bottom: 0; }
    .footer-animations .band-footer .footer-item img, .footer-animations .band-footer .footer-item h3 {
      margin-bottom: 50px;
      color: white; }
    .footer-animations .band-footer .footer-item ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .footer-animations .band-footer .footer-item ul a {
        text-decoration: none;
        color: #333333;
        color: white;
        line-height: 40px; }
    .footer-animations .band-footer .footer-item .social-links {
      display: flex;
      justify-content: space-between; }
      .footer-animations .band-footer .footer-item .social-links a {
        background: white;
        padding: 10px;
        padding: 6px 10px;
        border-radius: 7px; }
    .footer-animations .band-footer .notified {
      text-align: center;
      width: 90%;
      margin: auto; }
      .footer-animations .band-footer .notified h1 {
        margin-bottom: 50px;
        color: white; }
      .footer-animations .band-footer .notified form {
        position: relative; }
        .footer-animations .band-footer .notified form button {
          position: absolute;
          right: 3px;
          top: 8px;
          box-shadow: 0 1px 11px -8px black; }
        .footer-animations .band-footer .notified form input {
          padding: 20px;
          border-radius: 50px;
          width: 60%;
          width: 100%; }

::placeholder {
  color: #000;
  font-size: 13px; }

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .search-form form {
    width: 300px; }
  .flex.columns-2 {
    flex-wrap: nowrap; }
    .flex.columns-2 > * {
      flex-basis: 49.5%;
      margin: 0.25%; }
  .flex.columns-4 > * {
    flex: 1 0 49.5%;
    margin: 0.25%; }
  .flex.columns-2-3 {
    justify-content: space-between;
    flex-wrap: wrap; }
    .flex.columns-2-3 > * {
      flex: 1 0 49.5%;
      margin: 0.25%; }
  .flex.columns-3-2 {
    justify-content: space-between;
    flex-wrap: wrap; }
    .flex.columns-3-2 > * {
      flex: 1 0 49.5%;
      margin: 0.25%; }
  .band-header .container .header-right {
    text-align: left; }
    .band-header .container .header-right p {
      margin: 0; }
  .band-work .works > * {
    flex: 33.3333% 0 1; }
  .footer-animations .band-footer .notified {
    width: 80%; }
  .band-testimonials .row .rsi-left .rs-info {
    text-align: left; }
  .band-testimonials .row .rsi-right .rs-info {
    text-align: left; } }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .grid.grid-content {
    grid-template-columns: 250px auto; }
  .grid.grid-header {
    grid-template-columns: 150px auto; }
  .grid.grid-footer {
    grid-template-columns: 150px auto; }
  .flex.columns-4 > * {
    flex: 1 0 24%;
    margin: 0.25%; }
  .flex.columns-2-3 {
    justify-content: space-between;
    flex-wrap: wrap; }
    .flex.columns-2-3 > *:first-child {
      flex-basis: 39%; }
    .flex.columns-2-3 > *:last-child {
      flex-basis: 60%; }
  .flex.columns-3-2 {
    justify-content: space-between;
    flex-wrap: wrap; }
    .flex.columns-3-2 > *:first-child {
      flex-basis: 59%; }
    .flex.columns-3-2 > *:last-child {
      flex-basis: 40%; }
  .band-header .container .row.tr .menu-container {
    width: initial;
    justify-content: initial; }
    .band-header .container .row.tr .menu-container .hamburger-btn {
      display: none; }
    .band-header .container .row.tr .menu-container ul {
      display: flex; }
  .band-header .container .header-left {
    margin-top: 150px; }
    .band-header .container .header-left .hl-more-details {
      text-align: left; }
  .band-header .container .header-right {
    margin-top: 150px;
    text-align: left; }
    .band-header .container .header-right p {
      width: 70%;
      margin: 0; }
  .search-form {
    width: 100%; }
  .hamburger-menu {
    display: none !important; }
  .band-cta .row .choose-your-option {
    display: flex; }
  .footer-animations .band-footer .notified {
    width: 50%; }
  .band-contact .row .bc-form {
    width: 90%;
    grid-template-columns: 100px auto 100px; } }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .grid.grid-content {
    grid-template-columns: 300px auto; }
  .band-contact .row .bc-form {
    width: 80%;
    grid-template-columns: 100px auto 100px; }
  .band-testimonials .row .rsi-left {
    margin-bottom: 0; }
    .band-testimonials .row .rsi-left .rs-info {
      width: 80%;
      position: absolute;
      top: 100px;
      left: 50px;
      text-align: left; }
    .band-testimonials .row .rsi-left img {
      position: static; }
  .band-testimonials .row .rsi-right .rs-info {
    position: absolute;
    top: 100px;
    right: 0;
    width: 80%; }
    .band-testimonials .row .rsi-right .rs-info b {
      position: relative;
      top: 50px; } }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px; }
  .footer-animations {
    background: none;
    color: #212121;
    overflow: hidden;
    bottom: 0; }
    .footer-animations .layer {
      display: flex;
      position: absolute; }
    .footer-animations .band-footer {
      bottom: 0; }
      .footer-animations .band-footer .footer-item img, .footer-animations .band-footer .footer-item h3 {
        color: #333333; }
      .footer-animations .band-footer .footer-item ul a {
        color: #333333; }
      .footer-animations .band-footer .notified h1 {
        color: #333333; }
  .band-contact .row .bc-form {
    width: 60%;
    grid-template-columns: 100px auto 100px; } }

/* ==========================================================================
[Animations]
========================================================================== */
.upndown {
  position: relative;
  animation: upndown 4s forwards;
  animation-iteration-count: infinite; }

@keyframes upndown {
  0% {
    top: 0; }
  50% {
    top: 100px; }
  100% {
    top: 0; } }

/* ==========================================================================
[Browser upgrade]
========================================================================== */
.browserupgrade {
  background: yellow;
  padding: 10px; }

/* Font families */
/* Main colors */
/* Section colors */
