/* Font families */
$primary_font_family: 'Montserrat', sans-serif;

/* Main colors */
$primary_color: #fb5895;
$primary_color_light: #7a917a;
$secondary_color: #87e6ff;
$secondary_color_light: #ead8ac;
$dark_black: #212121;
$light_black: #333333;

/* Section colors */
$header_bg_color: #fff;
$sidebar_bg_color: #fff;
$body_bg_color: #fff;
$footer_bg_color: #fff;
